<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">

  <title>AniMatch</title>
  <!-- JQUERY -->
  <script src="https://code.jquery.com/jquery.js"></script>

  <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  <!-- FIREBASE -->
  <script src="https://www.gstatic.com/firebasejs/4.8.0/firebase.js"></script>

  <!-- FIREBASE AUTHORIZATION -->
  <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-auth.js"></script>

  <!-- GOOGLE FONT -->
  <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">

  <!-- ICON LINK -->
  <link rel="icon" type="image/x-icon" href="../../public/assets/images/icon.ico" sizes="16x16">
</head>

<body class="site">
  <main class="header">
    <!-- NAV BAR -->
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo"><img id="logo" src="/assets/images/logo.png"></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li id="nav-links"><a href="https://www.petfinder.com/animal-shelters-and-rescues/" target="_blank">Find a Shelter</a></li>
          <li id="nav-links"><a href="http://www.petfinder.com/search" target="_blank">Find a Pet</a></li>
          <li id="nav-links"><a href="/account">My Account</a></li>
        </ul>
      </div>
    </nav>
    {{{body}}}
  </main>
</body>

</html>
