<!-- Local Stylesheet -->
<link rel="stylesheet" href="/assets/stylesheets/account.css">

<!-- Local JS -->
<script rel="JavaScript" src="/assets/account.js"></script>

<!-- Content -->
<div class="row">

      <div class="col s3" id="account-sidebar">
        <img src="/assets/images/user-img.jpg" id="user-img">
        <div>Name: <span id="user-name">Woody</span></div>
        <div>Location: <span id="user-location">Pixar, Universe</span></div>
        <div>Home Type: <span id="user-hometype">House with Backyard</span></div>
        <div>Activity Level: <span id="user-activity-level">Very Active</span></div>
        <div>Children: <span id="user-children">Yes</span></div>
        <div>Current Pets: <span id="user-pets">Dog</span></div>
        <div>Seeking: <span id="user-seeking">Small & Furry</span></div>
      <a class="waves-effect waves-light btn" id="button"
        href = "./quiz">Retake Quiz</a>
      <br>
      <a class="waves-effect waves-light btn" id="button">Manage Account</a>
      </div>

      <div class="col s9">
      <h4>My Matches</h4>
      <div class="row"><center>
        <div class="col s3 z-depth-1" id="match-container">
          <img src="assets/images/dog-1.jpeg" id="match-picture">
          <p>Tinder</p>
        </div>
        <div class="col s3 z-depth-1" id="match-container">
          <img src="assets/images/dog-2.jpeg" id="match-picture">
          <p>Sammy</p>
        </div>
        <div class="col s3 z-depth-1" id="match-container">
          <img src="assets/images/dog-3.jpeg" id="match-picture">
          <p>Jackson</p>
        </div>
        <div class="col s3 z-depth-1" id="match-container">
          <img src="assets/images/dog-4.jpeg" id="match-picture">
          <p>Midnight</p>
        </div>
      </center></div>
      <div class="row"><center>
        <div class="col s3 z-depth-2" id="match-container">
          <img src="assets/images/dog-1.jpeg" id="match-picture">
          <p>Tinder</p>
        </div>
        <div class="col s3 z-depth-2" id="match-container">
          <img src="assets/images/dog-2.jpeg" id="match-picture">
          <p>Sammy</p>
        </div>
        <div class="col s3 z-depth-2" id="match-container">
          <img src="assets/images/dog-3.jpeg" id="match-picture">
          <p>Jackson</p>
        </div>
        <div class="col s3 z-depth-2" id="match-container">
          <img src="assets/images/dog-4.jpeg" id="match-picture">
          <p>Midnight</p>
        </div>
      </center></div>
      <div class="row">
      <center>
        <a class="btn-floating btn-large waves-effect waves-light" id="button"><i class="material-icons">+</i></a>
      </center>
      </div>
      </div>

    </div>
