<!-- Local Stylesheet -->
<link rel="stylesheet" href="/assets/stylesheets/style.css">

  <!-- WELCOME SCREEN -->
    <div class="row">
      <div class="col s8 push-s2" id="welcome-banner">
        <div id="welcome-banner-text">
          <center>Your New Best Friend is Waiting for You
            <a href="/create-account" class="waves-effect waves-light btn" id="start-quiz-button">Start Quiz</a></center>
        </div>
      </div>
    </div>
