body {
  font-family: 'Nunito', sans-serif;
}
.nav-wrapper {
  background-color: #B47978;
}

#logo {
  width: 45%;
  margin-top: -15px;
  margin-left: 5px;
}

#quiz-title {
  color: #757575;
}

.filled-in {
  color: #B47978;
}

.helper-text {
  font-size:12px;
}
