<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">

  <title>AniMatch</title>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script> -->

  <!-- Local Stylesheet -->
  <link rel="stylesheet" href="assets/style.css">

  <!-- GOOGLE FONT -->
  <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
</head>

<body class="site">
  <main class="header">
    <!-- NAV BAR -->
    <nav>
      <div class="nav-wrapper">
        <a href="index.html" class="brand-logo">AniMatch</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="matches.html">View Matches</a></li>
          <li><a href="shelter.html">Find a Shelter</a></li>
          <li><a href="pets.html">Find a Pet</a></li>
          <li><a href="account.html">My Account</a></li>
        </ul>
      </div>
    </nav>

    <!-- WELCOME SCREEN -->
    <div class="row">
      <div class="col s8 push-s2" id="welcome-banner">
        <div id="welcome-banner-text">
          <center>Your New Best Friend is Waiting for You
            <a class="waves-effect waves-light btn" id="start-quiz-button">Start Quiz</a></center>
        </div>
      </div>
    </div>
  </main>
</body>

</html>