<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">

  <title>AniMatch</title>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.2/js/materialize.min.js"></script>

  <!-- Local Stylesheet -->
  <link rel="stylesheet" href="../assets/stylesheets/quiz.css">

  <!-- GOOGLE FONT -->
  <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">

  <script src="../assets/app.js"></script>
</head>

<body>
  <!-- NAV BAR -->
  <nav>
    <div class="nav-wrapper">
      <a href="index.html" class="brand-logo center"><img id="logo" src="../assets/images/logo.png"></a>
    </div>
  </nav>

  <!-- QUIZ -->
  <div class="container">
    <h2 id="quiz-title">Tell Us About Yourself:</h2>
    <!-- NAME & EMAIL INPUT -->
    <div class="row">
      <div class="input-field col s6">
        <input id="first_name" type="text" class="validate">
        <label for="first_name">First Name</label>
      </div>
      <div class="input-field col s6">
        <input id="last_name" type="text" class="validate">
        <label for="last_name">Last Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" class="validate">
        <label for="email">Email</label>
      </div>
    </div>

    <!-- PET SELECTOR -->
    <form action="#">
      <div class="row">
        <div class="col s4 push-s1">
          <h6>What Kind of Best Friend?</h6>
          <p><label>
             <input type="checkbox" class="filled-in" id="cat animal-check"/>
             <span>Cat</span>
           </label></p>

          <p><label>
             <input type="checkbox" class="filled-in" id="dog animal-check"/>
             <span>Dog</span>
           </label></p>

          <p><label>
             <input type="checkbox" class="filled-in" id="bird animal-check"/>
             <span>Bird</span>
           </label></p>

          <p><label>
             <input type="checkbox" class="filled-in" id="reptile animal-check"/>
             <span>Reptile</span>
           </label></p>

          <p><label>
             <input type="checkbox" class="filled-in" id="smallfurry animal-check"/>
             <span>Small & Furry</span>
           </label></p>
        </div>

        <!-- CURRENT PETS -->
        <div class="col s4">
          <h6>Current Pets:</h6>
          <p><label>
             <input type="checkbox" class="filled-in" id="cat animal-check"/>
             <span>Cat</span>
           </label></p>

          <p><label>
             <input type="checkbox" class="filled-in" id="dog animal-check"/>
             <span>Dog</span>
           </label></p>

          <p><label>
             <input type="checkbox" class="filled-in" id="bird animal-check"/>
             <span>Other</span>
           </label></p>
          <p>
            <div class="input-field col s6">
              <input placeholder="Other Animals" id="other-pet" type="text" class="validate">
            </div>
          </p>
        </div>
        <!-- CHILDREN IN HOME -->
        <div class="col s3">
          <h6>Children in Home:</h6>
          <p><label>
             <input type="checkbox" class="filled-in" id="cat animal-check"/>
             <span>Under 7</span>
           </label></p>

          <p><label>
             <input type="checkbox" class="filled-in" id="dog animal-check"/>
             <span>7-12</span>
           </label></p>

          <p><label>
            <input type="checkbox" class="filled-in" id="dog animal-check"/>
            <span>13-18</span>
          </label></p>

          <p><label>
           <input type="checkbox" class="filled-in" id="bird animal-check"/>
           <span>No Children / Adults Only</span>
         </label></p>
        </div>
      </div>

      <!-- ROW TWO -->
      <div class="row">
        <div class="col s4 push-s1">
          <h6>Type of Home:</h6>
          <p><label>
             <input type="checkbox" class="filled-in" id="cat animal-check"/>
             <span>House with Backyard</span>
           </label></p>

          <p><label>
             <input type="checkbox" class="filled-in" id="dog animal-check"/>
             <span>House without Backyard</span>
           </label></p>

          <p><label>
             <input type="checkbox" class="filled-in" id="bird animal-check"/>
             <span>Apartment</span>
           </label></p>

          <p><label>
             <input type="checkbox" class="filled-in" id="reptile animal-check"/>
             <span>Other</span>
           </label></p>

          <p>
            <div class="input-field col s6">
              <input placeholder="Other Home Type" id="other-pet" type="text" class="validate">
            </div>
          </p>
        </div>
        <!-- CURRENT PETS -->
        <div class="col s4">
          <h6>Level of Activity:</h6>
          <div id="slider-step"></div>
          <div id="slider-step-value"></div>
        </div>
        <!-- CHILDREN IN HOME -->
        <div class="col s3">
          <h6>Children in Home:</h6>
          <p><label>
             <input type="checkbox" class="filled-in" id="cat animal-check"/>
             <span>Under 7</span>
           </label></p>

          <p><label>
             <input type="checkbox" class="filled-in" id="dog animal-check"/>
             <span>7-12</span>
           </label></p>

          <p><label>
            <input type="checkbox" class="filled-in" id="dog animal-check"/>
            <span>13-18</span>
          </label></p>

          <p><label>
           <input type="checkbox" class="filled-in" id="bird animal-check"/>
           <span>No Children / Adults Only</span>
         </label></p>
        </div>
      </div>
    </form>
  </div>
</body>

</html>