<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">

  <title>AniMatch</title>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.2/js/materialize.min.js"></script>

  <!-- Local Stylesheet -->
  <link rel="stylesheet" href="assets/style.css">

  <!-- GOOGLE FONT -->
  <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
</head>

<body class="site">
  <main class="header">
    <div class="container">
      <div class="row">
        <form class="col s12">
          <div class="row">
            <h3>Tell Us About You</h3>
            <!-- FORM CONTENT -->
            <div class="input-field col s6">
              <input id="first_name" type="text" class="validate">
              <label for="first_name">First Name</label>
            </div>

            <div class="input-field col s6">
              <input id="last_name" type="text" class="validate">
              <label for="last_name">Last Name</label>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <input id="email" type="email" class="validate">
                <label for="email">Email</label>
              </div>
            </div>

            <div class="row">
              <h5>Your Next Best Friend is A...</h5>
              <label><input id="indeterminate-checkbox" type="checkbox"/>
                  <span>Cat</span>
                </label>

              <label><input id="indeterminate-checkbox" type="checkbox"/>
                  <span>Dog</span>
                </label>

              <label><input id="indeterminate-checkbox" type="checkbox"/>
                  <span>Rabbit</span>
                </label>

              <label><input id="indeterminate-checkbox" type="checkbox"/>
                  <span>Reptile</span>
                </label>

              <label><input id="indeterminate-checkbox" type="checkbox"/>
                  <span>Rodent</span>
                </label>
            </div>
          </div>
      </div>
    </div>
  </main>
</body>

</html>